<footer class=" w-full p-4 bg-white shadow md:flex md:items-center md:justify-between md:p-6 dark:bg-gray-800">
    <span class="text-sm text-gray-500 sm:text-center dark:text-gray-400">© 2023 <a href="https://flowbite.com/" class="hover:underline">
      Demo app made with Rails 7, PostgreSQL & Tailwind
    </span>
    <ul class="flex flex-wrap items-center mt-3 text-sm text-gray-500 dark:text-gray-400 sm:mt-0">
        <li>
            <a href="https://github.com/maramire" target="_blank" class="mr-4 hover:underline md:mr-6 ">Github</a>
        </li>
    </ul>
</footer>